# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.	/apps/admin/node_modules

# dependencies
/apps/admin/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/apps/admin/build

# misc
/apps/admin/.DS_Store
/apps/admin/.env.local
/apps/admin/.env.development.local
/apps/admin/.env.test.local
/apps/admin/.env.production.local

/apps/admin/npm-debug.log*
/apps/admin/yarn-debug.log*
/apps/admin/yarn-error.log*

__generated__/
/apps/admin/public/env-config.js
/apps/admin/env-config.js
/apps/admin/.eslintcache

src/components/app/edge-cluster/edge-cluster-management/__generated__/**
